@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 217.2 32.4% 91.2%;
    --input: 217.2 32.4% 91.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 217.2 32.4% 17.6%;
    --secondary-foreground: 210 20% 98%;

    --accent: 217.2 32.4% 17.6%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.2 91.2% 59.8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 20% 98%;

    --muted: 217.2 32.4% 17.6%;
    --muted-foreground: 215 20.4% 65%;

    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 20% 98%;

    --border: 217.2 32.4% 27.6%;
    --input: 217.2 32.4% 27.6%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 20% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.4% 17.6%;
    --secondary-foreground: 210 20% 98%;

    --accent: 217.2 32.4% 17.6%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  code {
    position: relative;
    border-radius: 0.25rem; /* rounded */
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-family: var(--font-geist-mono), monospace; /* font-mono */
    font-size: 0.875rem; /* text-sm */
    line-height: 1.25rem;
    font-weight: 600; /* font-semibold */
    background-color: hsl(var(--muted));
  }

  pre {
    margin-top: 1.5rem; /* mt-6 */
    overflow-x: auto;
    border-radius: var(--radius); /* rounded-lg */
    border: 1px solid hsl(var(--border));
    padding: 1rem; /* p-4 */
    background-color: hsl(var(--muted));
  }

  pre code {
    background-color: transparent;
    padding: 0;
    font-weight: normal;
  }
}
